@import '../../../styles/colors.scss';

.player {
  background: $gray-80;
  border-radius: 10px;
  font-size: 16px;
  height: 95%;
  margin: 15px auto;
  max-width: 750px;
  width: 95%;

  .nowPlaying {
    border-bottom: 15px solid $primaryColor;
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 25px;
    position: relative;

    .trackInfo {
      flex: 1;

      .trackName {
        font-size: 1.5em;
        margin-bottom: 25px;
      }
    }

    .albumArt {
      img {
        width: 100px;
      }
    }
  }

  .emptyPlayer {
    align-items: center;
    display: flex;
    font-size: 3em;
    height: 60%;
    justify-content: center;
  }
}

.loading {
  font-size: 1.5em;
  margin-top: 30px;
  text-align: center;
}
