@use '../../../styles/colors.scss' as *;
@use '../../../styles/mixins.scss' as *;

.button {
  background: $buttonBackground;
  border-radius: 7px;
  color: $primaryTextColor;
  cursor: pointer;
  font-size: 0.9em;
  padding: 10px;
  text-align: center;
  transition:
    background 0.15s ease,
    opacity 0.15s ease;
  user-select: none;
  width: 150px;

  &:hover:not(.disabled) {
    background: $buttonBackgroundHover;
  }

  &:active:not(.disabled) {
    opacity: 0.8;
  }

  &.disabled {
    cursor: default;
    opacity: 0.5;
  }
}
