@import '../../styles/colors.scss';
@import '../../styles/sizing.scss';

.pods {
  .podList {
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    // justify-content: center;
    margin: auto;
    // padding-bottom: 20px;
    overflow-y: auto;
    width: 98%;
  }
}

@media screen and (max-width: $mobileWidth) {
  .podsModal {
    width: 90%;
  }
}
