@import '../../styles/colors.scss';
@import '../../styles/sizing.scss';

.pods {
  .podList {
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    overflow-y: auto;
    width: 98%;

    .createNew {
      align-items: center;
      display: flex;
      height: 125px;
      justify-content: center;
      margin: 20px;

      svg {
        fill: white;
        height: 50px;
        transition: 0.3s fill;
        width: 50px;
      }

      &:hover {
        svg {
          fill: $peapod;
        }
      }
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  .podsModal {
    width: 90%;
  }
}
