@import '../../styles/colors.scss';
@import '../../styles/sizing.scss';

.pods {
  .podList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 150px;
  }
}

@media screen and (max-width: $mobileWidth) {
  .podsModal {
    width: 90%;
  }
}
