@import '../../../../styles/colors.scss';
@import '../../../../styles/sizing.scss';

.joinPod {
  .podList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 150px;
  }
}

.joinPodModal {
  .joinButton,
  .leaveButton {
    border-radius: 10px;
    box-shadow: none;
    font-size: 1.5em;

    &:hover {
      box-shadow: none;
      transform: none;
    }
  }

  .joinButton {
    background: $peapod-5;

    &:hover {
      background: $peapod-8;
    }
  }

  .leaveButton {
    background: $peapod-secondary;

    &:hover {
      background: $peapod-secondary-5;
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  .joinPodModal {
    width: 90%;
  }
}
