@import '../../../styles/colors.scss';
@import '../../../styles/sizing.scss';

.trackList {
  height: 97%;
  margin: 15px auto;
  max-width: 700px;
  overflow-y: auto;
  width: 95%;

  h1 {
    margin: 15px;
    text-align: left;
  }

  .list {
    .tracks {
      height: 85%;
      margin: 10px;
      overflow-y: auto;
    }
  }
}

.loading {
  font-size: 1.5em;
  margin-top: 30px;
  text-align: center;
}

.trackModal {
  height: 200px;

  .trackModalContent {
    display: flex;
    justify-content: center;

    .viewTrack {
      font-size: 2em;
      width: 95%;
    }

    .songName {
      color: $peapod;
      margin: auto;
      margin-bottom: 20px;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      user-select: none;
      white-space: nowrap;
      width: 95%;
    }

    .previewControls {
      display: flex;
      justify-content: center;
    }

    .queueButton {
      cursor: pointer;
      fill: $primaryTextColor;
      height: 50px;
      margin: 10px;
      transition: 0.3s fill;
      width: 30px;

      &:hover {
        fill: $peapod;
      }
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  .trackList {
    .tracks {
      .track {
        font-size: 5vw;
      }
    }
  }
}
