@import '../../../../styles/colors.scss';

.controls {
  margin: 0 65px;

  svg {
    fill: $primaryTextColor;
    height: 50px;
    margin: 10px;
    width: 30px;
  }

  .play {
    
  }

  .pause {

  }
}
