@import '../../../../styles/colors.scss';

.controls {
  display: flex;
  background: $buttonBackground;
  border-radius: 15px;
  justify-content: center;
  margin: auto;
  width: 200px;

  svg {
    cursor: pointer;
    fill: $primaryTextColor;
    height: 50px;
    margin: 10px;
    transition: 0.3s fill;
    width: 30px;

    &:hover {
      fill: $peapod;
    }
  }
}
