@import '../../../../styles/colors.scss';

.controls {
  margin: 0 65px;

  svg {
    cursor: pointer;
    fill: $primaryTextColor;
    height: 50px;
    margin: 10px;
    transition: 0.3s fill;
    width: 30px;

    &:hover {
      fill: $peapod;
    }
  }
}
