@import '../../../styles/mixins.scss';
@import '../../../styles/sizing.scss';

.pod {
  border-radius: 7px;
  margin: 20px auto;
  width: 90%;

  .header {
    display: flex;

    .name {
      flex: 1;
      margin: 20px;
      text-align: left;
    }

    .closeButton {
      cursor: pointer;
      font-size: 2em;

      &::after {
        content: 'x'
      }
    }
  }
}
