@import '../../../styles/mixins.scss';
@import '../../../styles/sizing.scss';

.pod {
  margin: -20px auto 0;
  min-width: 375px;
  max-width: 850px;
  width: 90%;

  .content {
    height: calc(90% - #{$headerHeight});
  }
}
