
$peapod: #8BC448;

$primaryColor: #191919;
$secondaryColor: #8148C4;
$tertiaryColor: #6785A3;

$buttonBackground: #2f2f2f;
$buttonHoverBackground: #464646;

$secondaryColorLight: #9a6ccf;
$lightText: whitesmoke;

$accentColor: $peapod;
$mutedColor: #C4BF48;

$successColor: $accentColor;
$errorColor: #E60000;

$mainBackground: $primaryColor;
$mainColor: #f2ecf9;

$simpleShadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$simpleShadowHover: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
