$peapod: rgba(139, 196, 72, 1);
$peapod-5: rgba(139, 196, 72, 0.5);
$peapod-8: rgba(139, 196, 72, 0.8);

$peapod-secondary: rgba(72, 139, 196, 1);
$peapod-secondary-5: rgba(72, 139, 196, 0.5);
$peapod-tertiary: 	#c4488b;

$primaryColor: #191919;
$secondaryColor: rgb(113, 110, 116);
$secondaryColor: rgba(77, 39, 122, 0.5);
$tertiaryColor: #6785a3;

$buttonBackground: rgba(15, 15, 15, 1);
$buttonBackgroundHover: rgba(15, 15, 15, 0.6);

$modalBackground: #454545;
$modalBorder: #e7e7e7;

$secondaryColorLight: #432269;
$primaryTextColor: whitesmoke;

$accentColor: rgba(139, 196, 72, 0.7);
$mutedColor: #c4bf48;

$mainBackground: $primaryColor;
$mainColor: #f2ecf9;

$errorText: rgba(196, 110, 72, 1);
$errorText-5: rgba(196, 110, 72, 0.5);

$successText: $peapod;

$gray-0: #ffffff;
$gray-2-5: #f9f9f9;
$gray-5: #f2f2f2;
$gray-7-5: #ececec;
$gray-10: #e6e6e6;
$gray-15: #d9d9d9;
$gray-20: #cccccc;
$gray-25: #bfbfbf;
$gray-30: #b3b3b3;
$gray-35: #a6a6a6;
$gray-40: #999999;
$gray-45: #8c8c8c;
$gray-50: #808080;
$gray-55: #737373;
$gray-60: #666666;
$gray-65: #595959;
$gray-70: #4d4d4d;
$gray-75: #404040;
$gray-80: #333333;
$gray-85: #262626;
$gray-90: #191919;
$gray-95: #0d0d0d;
$gray-100: #000000;
