@import '../../../styles/colors.scss';
@import '../../../styles/sizing.scss';

.header {
  background: $secondaryColor;
  border-bottom: 1px solid $buttonBackground;
  margin-bottom: 30px;
  position: relative;
  z-index: 3;

  &.minimal {
    height: 55px;

    .headerContent {
      align-items: center;
      display: flex;
      padding: 0 20px;

      .headerTitle {
        margin-bottom: 0;
      }
    }

    img {
      width: 30px;
    }
  }

  .headerContent {
    display: flex;
    padding: 5px 20px;
    z-index: 4;

    .homeLink {
      flex: 1;
      margin-right: 20px;
    }

    .headerTitle {
      cursor: pointer;
      display: inline-block;
      font-family: 'Chilanka', sans-serif;
      font-size: 2em;
      margin-left: 20px;
      margin-bottom: 5px;
      position: relative;
      top: 5px;
      transition: 0.5s all;
    }

    .nav {
      align-self: center;
      display: flex;
      position: relative;
    }

    .appVersion {
      font-size: 10px;
      position: absolute;
      right: 5px;
      top: 1px;
    }
  }

  .logo {
    width: 70px;
    pointer-events: none;
    position: relative;
    left: 5px;
    top: 10px;
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
  }
}

@media screen and (max-width: $mobileWidth) {
  .header {
    .headerContent {
      .logo {
        top: 2px;
      }

      .headerTitle {
        display: none;
      }

      .nav {
        .button {
          width: 75px;
        }
      }
    }
  }
}
