@use '../../../styles/colors.scss' as *;
@use '../../../styles/sizing.scss' as *;

.profile {
  .profileButton {
    background: transparent;
    position: relative;
    width: auto;

    &:hover {
      background: transparent;
    }

    &.menuOpen {
      .profilePic {
        border-radius: 0;
      }
    }
  }

  .profilePic,
  .profilePicPlaceholder {
    border-radius: 50%;
    display: block;
    height: 32px;
    transition: 0.3s all;
    width: 32px;
  }

  .profilePicPlaceholder {
    background: transparent;
  }

  .menu {
    background: $buttonBackground;
    border-radius: 5px;
    border-top-right-radius: 0;
    padding: 0 10px;
    position: absolute;
    right: 12px;
    top: 55px;

    .menuItem {
      margin: 10px auto;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  &.minimal {
    .menu {
      top: 45px;
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  .profile {
    .profilePic,
    .profilePicPlaceholder {
      height: 24px;
      width: 24px;
    }

    .menu {
      right: 25px;
      top: 45px;
    }
  }
}
