@import '../../../styles/colors.scss';
@import '../../../styles/sizing.scss';

.profile {
  .profileButton {
    background: transparent;
    position: relative;
    top: 5px;
    width: 100px;

    &:hover {
      background: transparent;
      transform: none;
    }

    &.menuOpen {
      img {
        border-radius: 0;
      }
    }

    img {
      border-radius: 50%;
      transition: 0.3s all;
      width: 75px;
    }
  }

  .menu {
    background: $buttonBackground;
    border-radius: 5px;
    border-top-right-radius: 0;
    padding: 0 10px;
    position: absolute;
    right: 12px;
    top: 85px;

    .menuItem {
      margin: 10px auto;
      opacity: 0.8;

      &:hover {
        opacity: 1;
        transform: none;
      }
    }
  }

  &.minimal {
    .menu {
      top: 50px;
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  .profile {
    .profileButton {
      img {
        width: 50px;
      }
    }

    .menu {
      right: 25px;
      top: 65px;
    }
  }
}
