@use '../../styles/colors.scss' as *;
@use '../../styles/fonts.scss' as *;
@use '../../styles/mixins.scss' as *;
@use '../../styles/sizing.scss' as *;

.home {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 5px;

  h1 {
    color: $peapod;
    font-family: $mainFontStyle;
    font-size: 5em;
    margin: 50px auto;
    text-align: center;
  }

  .logo {
    margin: 5px;
    text-align: center;

    img {
      width: 300px;
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    margin: 50px 0;

    .loginButton {
      @include boxShadow();

      align-items: center;
      background: $secondaryColor;
      border-color: $secondaryColorLight;
      color: $primaryTextColor;
      display: flex;
      flex-direction: column;
      padding: 30px 40px;
      text-align: center;
      width: 250px;

      &:hover {
        background: $secondaryColorLight;
        border-color: $secondaryColor;
      }

      svg {
        margin: 10px auto;
        width: 80px;
      }

      .loginButtonText {
        font-size: 1.3em;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  .home {
    h1 {
      margin: 20px auto;
    }

    .buttonContainer {
      margin: 20px auto;
    }
  }
}
