@use '../../../styles/colors.scss' as *;

.songSelection {
  position: relative;
}

.resultsOverlay {
  background: $primaryColor;
  border: 1px solid $gray-75;
  border-radius: 5px;
  left: 0;
  max-height: 400px;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 10;
}
