@import '../../../styles/colors.scss';
@import '../../../styles/mixins.scss';

.inviteIconContainer {
  align-content: center;
  display: flex;
  margin-left: 50px;
  padding: 10px 15px;
  position: relative;
  width: 150px;

  .inviteText {
    vertical-align: middle;
  }

  .inviteIcon {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 7px;

    svg {
      fill: $peapod;
      height: 20px;
      width: 45px;
    }
  }
}

.podLobby {
  display: flex;
  flex-direction: column;
  height: 92vh;
  margin: auto;
  padding: 20px 50px;
  width: 100%;

  .podMembers {
    border: 1px solid $gray-80;
    min-height: 200px;
    width: 100%;

    .podMember {
      background: $gray-80;
      border: 1px solid $gray-80;
      border-radius: 5px;
      display: inline-block;
      margin: 10px;
      padding: 5px 10px;
      text-align: center;
    }
  }

  .launchButton {
    align-self: flex-end;
    bottom: 50px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 125px;
  }
}
