@import '../../../../styles/colors.scss';
@import '../../../../styles/sizing.scss';

.podViewSelector {
  display: flex;

  .menuButton {
    display: none;
    padding: 5px;

    svg {
      fill: white;
      height: 100%;
      width: 100%;
    }
  }

  .viewSelector {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    user-select: none;

    .view {
      border: 2px solid transparent;
      margin: 0 15px;
      padding: 7px 0;
      text-align: center;
      transition: 0.3s border;

      &.nowPlaying {
        min-width: 85px;
      }

      &.selected {
        border-bottom-color: $peapod;
        cursor: default;
        pointer-events: none;
      }
    }
  }
}

@media screen and (max-width: $mobileWidth) {
  $menuButtonSize: 30px;

  .podViewSelector {
    position: relative;
    z-index: 50;

    &:hover {
      .viewSelector {
        background: $gray-80;
        border: 2px solid $gray-90;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -5px;
      }
    }

    .menuButton {
      display: block;
      height: $menuButtonSize;
      position: absolute;
      width: $menuButtonSize;
      right: 10px;
      top: -35px;
      z-index: 51;

      &:hover {
        background: $gray-80;
      }
    }

    .viewSelector {
      display: none;
      width: 100%;

      .view {
        margin: 0;
        width: 75px;
      }
    }
  }
}
