@use '../../../../styles/colors.scss' as *;
@use '../../../../styles/sizing.scss' as *;

.podHeader {
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: $mobileWidth) {
  .podHeader {
    flex-direction: column;
  }
}
