@import '../../../../styles/colors.scss';
@import '../../../../styles/sizing.scss';

.podHeader {
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: $mobileWidth) {
  .podHeader {
    flex-direction: column;
  }
}
