@import '../../../../styles/colors.scss';

$trackBorder: 5px solid $gray-85;

.playQueue {
  margin: 20px;
  overflow-y: auto;

  .startButton {
    margin-left: 10px;
  }

  .title {
    color: $peapod;
    font-family: 'Chilanka';
    font-size: 1.1em;
    text-decoration: underline;
    margin-bottom: 10px;
  }

  .trackList {
    .track {
      background: $gray-85;
      border-radius: 5px;
      margin: 10px auto;
      padding: 15px;
    }
  }
}
